* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #eee;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dice {
    display: grid;
    grid-template-columns: repeat(3, 1rem);
    grid-template-rows: repeat(3, 1rem);
    gap: 0.5rem;
    margin: 1rem;
    background-color: #fff;
    border: 2px solid #222;
    padding: 1rem;
    border-radius: 0.5rem;
}

.dice aside {
    background-color: #222;
    border-radius: 50%;
    display: none;
}

.dots-1 aside:nth-child(1) {
    display: block;
    grid-area: dot-1;
}

.dots-2 aside:nth-child(1) {
    display: block;
    grid-area: dot-1;
}

.dots-2 aside:nth-child(2) {
    display: block;
    grid-area: dot-2;
}

.dots-3 aside:nth-child(1) {
    display: block;
    grid-area: dot-1;
}

.dots-3 aside:nth-child(2) {
    display: block;
    grid-area: dot-2;
}

.dots-3 aside:nth-child(3) {
    display: block;
    grid-area: dot-3;
}

.dots-4 aside:nth-child(1) {
    display: block;
    grid-area: dot-1;
}

.dots-4 aside:nth-child(2) {
    display: block;
    grid-area: dot-2;
}

.dots-4 aside:nth-child(3) {
    display: block;
    grid-area: dot-3;
}

.dots-4 aside:nth-child(4) {
    display: block;
    grid-area: dot-4;
}

.dots-5 aside:nth-child(1) {
    display: block;
    grid-area: dot-1;
}

.dots-5 aside:nth-child(2) {
    display: block;
    grid-area: dot-2;
}

.dots-5 aside:nth-child(3) {
    display: block;
    grid-area: dot-3;
}

.dots-5 aside:nth-child(4) {
    display: block;
    grid-area: dot-4;
}

.dots-5 aside:nth-child(5) {
    display: block;
    grid-area: dot-5;
}

.dots-6 aside:nth-child(1) {
    display: block;
    grid-area: dot-1;
}

.dots-6 aside:nth-child(2) {
    display: block;
    grid-area: dot-2;
}

.dots-6 aside:nth-child(3) {
    display: block;
    grid-area: dot-3;
}

.dots-6 aside:nth-child(4) {
    display: block;
    grid-area: dot-4;
}

.dots-6 aside:nth-child(5) {
    display: block;
    grid-area: dot-5;
}

.dots-6 aside:nth-child(6) {
    display: block;
    grid-area: dot-6;
}

.dots-1 {
    grid-template-areas: 
    ". . ."
    ". dot-1 ."
    ". . .";
}

.dots-2 {
    grid-template-areas: 
    "dot-1 . ."
    ". . ."
    ". . dot-2";
}

.dots-3 {
    grid-template-areas: 
    "dot-1 . ."
    ". dot-2 ."
    ". . dot-3";
}

.dots-4 {
    grid-template-areas: 
    "dot-1 . dot-3"
    ". . ."
    "dot-2 . dot-4";
}

.dots-5 {
    grid-template-areas: 
    "dot-1 . dot-3"
    ". dot-5 ."
    "dot-2 . dot-4";
}

.dots-6 {
    grid-template-areas: 
    "dot-1 . dot-4"
    "dot-2 . dot-5"
    "dot-3 . dot-6";
}
